@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
  	font-family:inherit;
  	font-size:inherit;
  	line-height:inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  select, input {
    -webkit-appearance: none;
  }

  input:focus,
  button:focus,
  select:focus {
    outline: 0;
  }

  input:focus,
  select:focus {
  	outline:0;
  }

  input,
  textarea {
  	-webkit-box-sizing:content-box;
  	-moz-box-sizing:content-box;
  	box-sizing:content-box;
  }

  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	-webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week]{
  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  ::-webkit-search-decoration {
  	display:none;
  }

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	overflow:visible;
  }

  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea  {
  	overflow:auto;
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$white: rgb(255,255,255);
$black: rgb(33,39,33);
$grey: rgb(126,127,115);
$grey-light: rgb(192,194,192);
$grey-lighter: rgb(227,227,225);
$coral: rgb(255,89,90);
$teal: rgb(88,222,185);
$font-copy: 'Apercu Pro', Sans-Serif;
$font-header: 'Saveur Sans Round', Sans-Serif;
$font-mono: 'Apercu Mono', monospace;

* {
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

body {
	font-family: $font-copy;
	font-size: 24px;
  font-size: calc(6px + .8vw);
  line-height: 1.4;
  font-weight: 500;
  color: $grey;

  a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: $grey;
    }
  }

  &[data-background=home] {
    #page {
      background: $white;
      color: $grey;

      a {
        color: $grey;

        &:hover {
          color: $grey;
        }
      }

      .back {

        a {
          color: $white;
        }
      }
    }
  }

  &[data-background=about] {
    #page {
      background: $black;

      main {
        color: $grey;

        a {
          color: $grey;

          &:hover {
            color: $grey;
          }
        }
      }
    }
  }

  &[data-background=contact] {
    #page {
      background: $grey;

      .header {
        a {
          color: $white!important;

          &:hover {
            color: $white!important;
          }
        }
      }

      main {
        color: $white;

        a {
          color: $white;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  &.noScroll {
    overflow: hidden;
  }
}

#page {
  will-change: opacity;
  backface-visibility: hidden;
  transition: background 660ms cubic-bezier(.165, .84, .44, 1);
  min-height: 100vh;
}

#site-content-wrap {
  will-change: opacity;
  backface-visibility: hidden;
  transition: opacity 660ms cubic-bezier(.165, .84, .44, 1);
  opacity: 0;
  min-height: 100vh;

  &.show {
      opacity: 1;
  }
}

img {
	display: block;
	width: 100%;
  height: auto;
}

p, ul, ol, h1, h2, h3, h4, h5 {
  padding: 4vw;
}

h1, h2, h3, h4, h5, strong {

}

h1 {
  font-size: 2.2em;
  line-height: 1;
  color: $teal;
  font-family: $font-header;
  font-weight: bold;
  padding-bottom: 2.6vw;
  padding-top: 7.2vw;
}

h2 {
  font-size: 2em;
  line-height: 1.12;
  font-weight: lighter;
}

h3 {
  font-size: 1.6em;
  line-height: 1.2;
  font-weight: lighter;
}

h4 {

}

h5 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

input {
	&:focus {
		border: 1px solid $grey;
		outline: 0;
	}
}

button {
  @include button-reset;
}

small {
  display: inline-block;
  font-family: $font-mono;
  font-size: .8em;
  font-weight: normal;
}

.spin {
  display: block;

  svg {
    transform: rotate(0deg);
    backface-visibility: hidden;
    transition: 220ms color cubic-bezier(.165, .84, .44, 1);
  }

  &:hover svg {
    transform: rotate(90deg);
  }
}

.st0 {
  fill: $white;
}

.st1 {
  fill: $grey;
}

.st2 {
  fill: $grey-light;
}

.st3 {
  fill: $teal;
}

.set-back {
  color: $grey-light;
}

button {
  background: white;
  border-radius: 20px;
  padding: .4vw 4vw;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;

  .logo {
    position: fixed;
    top: 0px;
    left: 0px;
    transform: translate3d(0%, -100%, 0);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 1200ms ease, opacity 1200ms ease;
    z-index: 110;
    margin: 4vw;

    svg {
      width: calc(60px + .04vw + .04vh);
      height: auto;
      vertical-align: middle;
      display: inline-block;
    }

    &.show {
      transform: translate3d(0%, 0%, 0);
      opacity: 1;
    }
  }

  .back {
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translate3d(0, -100%, 0);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 1200ms ease, opacity 1200ms ease;
    z-index: 110;
    line-height: 1;
    margin: 4vw;

    ul {
      padding: 0px;

      li {
        display: inline-block;
        padding-left: 2vw;
      }
    }

    a {
      display: block;
    }

    svg {
      width: calc(34px + .04vw + .04vh);
      height: auto;
    }

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

main {
  position: relative;
  z-index: 10;
}

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 4vw;
  text-align: right;
  opacity: 0;
  backface-visibility: hidden;
  transition: transform 1200ms ease, opacity 1200ms ease;
  transform: translate3d(0, 100%, 0);
  line-height: 1;
  z-index: 100;

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.menu-modal {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.home {

  .hero {
    position: relative;
    height: 100vh;
    min-height: 620px;
    background: $coral;
    color: $white;

    figure {
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    quote {
      position: absolute;
      bottom: 20vh;
      left: 0;
      z-index: 10;

      h2 {
        padding-right: 40vw;
      }
    }
  }

  .main-quote {

    h3 {
      padding-right: 40vw;
    }
  }

  .good-deals {

    .banner {
      position: relative;
      padding: 0 8vw;

      figure {
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        background: $grey-light;
        z-index: 10;

        img {
          width: 100%;
          position: relative;
          z-index: 0;
        }

        .call-out {
          position: absolute;
          top: 0px;
          left: 0px;

          h3 {
            padding-right: 40vw;
            color: $white;
          }
        }
      }

      .cta {
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
  }

  .goods-and-services {

    .services {
      display: flex;
      flex-wrap: wrap;
      padding: 0 9vw;

      .service {
        flex: 1;

        p {
          padding: 2vw 1vw;
        }

        .illustration {
          text-align: center;

          svg {
            height: 8vw;
            width: auto;
          }
        }

        .examples {
          display: none;
        }

        .toggle {
          padding-left: 1vw;

          svg {
            width: calc(22px + .4vw);
            height: auto;
          }
        }
      }
    }
  }

  .good-vibes {
    position: relative;
    z-index: 100;

    h3 {
      padding-right: 40vw;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .flickity-page-dots {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2vw;
    }

    .vibes {
      padding-top: 3vw;

      .vibe {
        width: 26%;
        padding: 1vw;
        padding-bottom: 0px;

        a {
          display: block;

          &:hover {
            figure {
              img{
                transform: scale3d(1.05, 1.05, 1.05);
              }
            }
          }

          figure {
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            z-index: 10;

            img {
              display: block;
              transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
              backface-visibility: hidden;
              position: relative;
              z-index: 1;
            }
          }

          h4 {
            padding: 0px;
            font-size: 1.1em;
            padding-right: 2vw;
          }

          small {
            padding-top: 1vw;
            color: $grey-light;
          }
        }
      }
    }
  }

  .good-press {
    padding-bottom: 10vw;

    h3 {
      padding-right: 40vw;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .articles {
      display: flex;
      flex-wrap: wrap;
      padding: 0 9vw;

      .article {
        width: 25%;
        padding: 1vw;
        padding-bottom: 0px;

        a {
          display:  block;

          &:hover {
            figure {
              img {
                transform: translate3d(0,-8%,0);
              }
            }
          }

          figure {
            height: 12vw;
            overflow: hidden;
            border-bottom: 1px solid $grey;
            padding-top: 2vw;

            img {
              display: block;
              border-radius: 6px;
              transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
            }
          }

          h4 {
            padding: 0px;
          }

          small {
            padding-top: 1vw;
            color: $grey-light;
            padding-bottom: 1.2vw;
          }
        }
      }
    }
  }
}

.about {
  footer{
    display: none;
  }
}

.contact {

  footer {
    display: none;
  }

  .ul {

    a {
      border-bottom: 1px solid $white;
      display: inline-block;
    }

    &.social {

      a {
        width: 160px;
        margin-top: 1vw;
      }
    }
  }

  main {
    padding: 30vh 0;

    h2{
      padding-right: 50vw;
    }

    h3 {
      padding-right: 50vw;
      font-size: 1.3em;
      padding-top: 0px;
    }

    p, ul {
      padding-top: 0px;
    }
  }
}

footer {
  background: $grey-lighter;
  padding-bottom: 4vw;

  .flexer {
    display: flex;
    flex-wrap: wrap;

    .flex {
      flex: 1;

      &.quote {
        flex: 2;
      }

      p, ul, h3 {
        padding-top: 2vw;
      }

      .email {
          padding-bottom: 0px;
      }

      small {
        padding-left: 4vw;
        padding-top: 4vw;
        color: $grey-light;
      }
    }
  }
}

.lazyload {
  filter: blur(6px);
  transition: filter 660ms ease;

}
.lazyloaded {
  filter: blur(0);
}

@media only screen and (max-width: 1024px) {

}

::selection {
	background: $grey;
	color: $white;
	text-shadow: none;
}
